.athletes{
    h2{
        color: var(--color-black);
        font-family: var(--font-primary);
        font-weight: 600;
        text-align: right;
    }

    p{
        text-align: right;
        max-width: 55%;
    }
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}